.about {
	width: 100%;
	background: #f2f2f2;
	padding-top: 2.5rem;
	padding-bottom: 6rem;

	@mixin clearfix;
	
	@mixin atSmall {
		padding-top: 1rem;
	}
	
	@mixin atLarge {
		padding-top: 2rem;
	}

	&__hold {
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
	}
	
	&__description {
		color: #000;
		font-size: 3rem;
		font-weight: 700;
		padding-top: 3rem;
		margin-bottom: -.3rem;
		
		@mixin atSmall {
			font-size: 2rem;
			padding-top: 2rem;
			margin-bottom: -.25rem;
		}
		
		@mixin atLarge {
			font-size: 3.5rem;
			margin-top: 2rem;
		}
	}
	
	&__description-pink {
		color:#ff00cc;
		font-size: 5.25rem;
		float: right;
		padding-top: 2.5rem;
		margin-bottom: 2rem;
		padding-right: 1rem;
		display: inline-table;
		
		@mixin atMedium {
			padding-right: 3rem;
		}
		
		@mixin atLarge {
			font-size: 10rem;
		}
		
		h2 {
			font-weight: 200;
		}
	}
		
	&__hr {
		border: 0;
		height: 4px;
		background-color:#fff;
		
		@mixin atSmall {
			height: 3px;
		}
	}
	
	&__description-terms {
		color: #000;
		font-size: 1.75rem;
		font-weight: 700;
		text-align: right;
		float: right;
		padding-top: 0px;
		
		@mixin atSmall {
			font-size: 1.2rem;
			font-weight: 400;
			text-align: right;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 10px;
		}
		
		@mixin atMedium {
			font-size: 1.59rem;
			margin-top: 1.2rem;
		}
		
	}

	&__image {
		width: 100%;
		max-width: 150px;
		border-radius: 250px;
		position: relative;
		top: 0px;
		left: 0px;
		
		
		@mixin atSmall {
			width: 80%;
		}
	}
	
	&__row {
		padding-top: 1rem;
		max-width: 1000px;
		
		@mixin atSmall {
			margin-bottom: 1rem;

		}
		
		&-4 {
			float: left;
			width: 30%;
			padding-bottom: -1rem;
			
			@mixin atSmall {
				width: 30%;
			}
		}

		&-8 {
			float: right;
			width: 60%;
			padding-bottom: 1rem;

			
			@mixin atSmall {
				width: 60%;
				float: right;
				padding-top: 5px;
				padding-bottom: 5px;

			}
		}
		
		&-12 {
			float: right;
			margin-top: -8rem;
			margin-bottom: -4rem;
			
			@mixin atLarge {
				margin-right: 4.5rem;
			}
		}
		
	}
	
}