.about {
	width: 100%;
	background: linear-gradient(180deg, rgba(74, 213, 219, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: ;
	margin-top: -2.4rem;
	margin-bottom: 6rem;

	@mixin clearfix;
	
	@mixin atSmall {
		margin-top: -2.3rem;
	}
	
	@mixin atLarge {
		margin-top: -2.5rem;
	}

	&__hold {
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
	}
	
	&__description {
		font-family: 'News Cycle', sans-serif;
		color: $mainIndigo;
		font-size: 3rem;
		font-weight: 400;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		padding-top: 2.5rem;
		padding-bottom: -1.75rem;
		
		@mixin atSmall {
			font-size: 2.8rem;
			padding-top: 2rem;
			padding-bottom: .5rem;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
		}
		
		@mixin atLarge {
			font-size: 2.5rem;
			padding-top: 2rem;
		}
	}
		
	&__hr {
		border: 0;
		height: 2px;
		background-color:#fff;
	}
	
	&__description-terms {
		color: $mainIndigo;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: right;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
		float: right;
		padding-top: 0px;
		
		@mixin atSmall {
			font-size: 1rem;
			font-weight: 600;
			text-align: right;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 10px;
		}
		
	}

	&__image {
		width: 60%;
		max-width: 500px;
		border-radius: 250px;
		position: relative;
		top: 0px;
		left: 0px;
		
		
		@mixin atSmall {
			width: 80%;
		}
	}
	
	&__row {
		padding-top: 1rem;
		
		&-4 {
			float: left;
			width: 30%;
			padding-bottom: 1rem;
			
			@mixin atSmall {
				width: 30%;
			}
		}

		&-8 {
			float: right;
			width: 60%;
			padding-bottom: 1rem;

			
			@mixin atSmall {
				width: 60%;
				float: right;
				padding-top: 5px;
				padding-bottom: 50px;

			}
		}
		
	}
	
}