.contact {
	margin-top: 5rem;
	margin-left: 5px;
	margin-right: auto;
	max-width: 400px;
	
	&__link {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		padding-top: 6px;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 4px;
		background-color: black;
	}
	
	&__form {
		
	}
	
	&__form--input {
		width: 100%;		
		border-radius: 6px;
		padding: 2px;
	}
	
	h4 {
		color: #fff;
	}

	&__desc {
		color: #fff;
	}
	
}