.footer {
	color: #000;
	background-color: $mainLightGrey;
	

	&:before, &:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	
	&__text {
		margin: 0px;
		padding: 10px;
		text-align: center;
		
	}
	
	&__links {
		padding-top: 20px;
		
		@mixin atSmall {
			padding-top: 10px;
		}
	}
	
	&__icon {
		padding: 2px;
		display: inline-block;
	}

	/* resize icon */
	&__icon img {
		width: 75%;
		height: auto;
	}
	
	&__text-subdued {
		color: #000;
	}
	
	p {
		font-size: .6rem;
		font-weight: 400;
		
	}
	
}