.gallery {
	width: 100%;
	margin-top: 12rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 3;

	
	&__text {

		margin-top: 2rem;
		margin-left: 5px;
		width: 100%;
		
		@mixin atMedium {
			
		}
		
	}

	p {
		color: #fff;
	}
	
	&__heading {
		font-size: 1.4rem;
		font-weight: 900;
		color: #fff;
		padding-left: 8px;
	}
	
	&__desc {
		line-height: 1.2rem;
		font-size: 0.85rem;
		font-weight: 300;
		color: #fff;

		@mixin atMedium {
			width: 100%;
		}

		@mixin atLarge {
			width: 66.6%;
		}
	}

	&__link {
		color: #fff;
		font-weight: 900;
		text-decoration: none;
	}

}