.nav-bar {
	width: 100%;
	background: #ff00cc;
	position: fixed;
	z-index: 1;
		&:before, &:after {
		box-sizing: border-box;
		margin: px;
		padding: 0px;
		list-style: none;
	}
	
		&__hold {
		width: 99%;
		max-width: 1000px;
		margin: 0 auto;
		overflow: hidden;
		}
		
		&__menu-icon {
		color: #fff;
		font-weight: 400;
		float: right;
		margin-top: .45rem;
		padding: 10px;
		display: none;
		width: 36px;
		
		@mixin atSmall {
			display: block;
			padding-top: 7px;
			padding-right: 5px;
			padding-bottom: 8px;
		}

	}
		

	
	&__list {
		list-style: none;
		float: right;
		display: none;
		
		@mixin atMedium {
			display: block;
			margin: auto;
			padding-top: 5px;
		}
		
		@mixin atLarge {
			margin: auto;
			padding-top: 8px;
		}
		
		&--is-visible {
			display: block;
			
			@mixin atSmall {
				margin-bottom: .35rem;
			}
		}
	}

	&__list-item {
		float: left;
		
		@mixin atSmall {
			margin-top: .5rem;
			padding-bottom: 8px;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	
	
	&__link {
		color: #fff;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		display: block;
		
		
		@mixin atMedium {
			font-size: 1.18rem;
			font-weight: 700;
			padding: 12px 12px;
		}
		
		@mixin atLarge {
			font-size: 1.5rem;
			padding: 7px 40px;
		}
	}
	

	&__link-last {
		@mixin atLarge {
			padding-right: 0;
		}
	}
		
}


