.wrapper {
	overflow: hidden;
	padding-left: 24px;
	padding-right: 24px;
	
	@mixin atMedium {
		padding-left: 72px;
		padding-right: 72px;
	}
	
	&__container {
		width: 90%;
		max-width: 1000px;
		margin: -4rem auto;
	
		&--contact {
		overflow: hidden;
		padding-left: 24px;
		padding-right: 24px;
		width: 90%;

			@mixin atMedium {
				padding-left: 2px;
				padding-right: 2px;
				width: 50%;
				margin-left: 25%;
				margin-right: 25%;
			}

			@mixin atLarge {
				width: 33.3%;
				margin-left: auto;
				margin-right: auto;
			}

		}

	}
	
}